@use "../variables" as varr;

.auth-wrapper {
    // background-color: red;
    height: calc(100vh - varr.$logo-height);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 3.5rem;
}

.auth-card-display {
    // text-align: center;
    padding-block: 2.5rem;
    // @include mxn.px-to-rem(min-height, 228px);
}