@use "../mixins" as mxn;
@use "../functions" as fn;
@use "../variables" as varr;

.font-input-label-text {
    @include mxn.apply-roboto();
    font-size: fn.px-to-rem(14px);
    line-height: fn.px-to-rem(16.41px);
    letter-spacing: 0rem;

    color: varr.$dark-clr-2;

    display: inline-block;
    margin-bottom: .5rem;
}

.form-input-text {
    padding: .75rem 1rem;
    border-radius: .3rem;

    &::placeholder {
        font-family: inherit;
        font-weight: inherit;

        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;


        color: varr.$gray-clr-1;
    }
}

.form-inline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-wrapper {
    width: 90%;
    margin-inline: auto;

    &.password-reset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 100%;
        height: fn.px-to-rem(400px);

        padding-top: 3rem;
        
        // background-color: red;

        .form-cta-wrapper {
            // margin-top: auto;

            display: flex;

            .btn {
                width: auto;
            }
        }
    }
}

.form-cta-wrapper {
    text-align: center;
    .btn {
        width: 100%;
    }
}

.form-display-wrapper {
    display: flex;

    // justify-content: space-between;
    gap: 1rem;

    & > * {
        flex: 1;
    }
}

.form-option-wrapper {
    display: flex;
    gap: .5rem;
}

.form-option-item {
    position: relative;
    display: inline-block;

    cursor: pointer;
    padding: 1rem 1.5rem;

    width: fn.px-to-rem(146px);
    max-width: 90%;
    text-align: center;

    border-radius: 2px;
    border: 1px solid varr.$gray-clr-3;

    transition: all 0.3s ease-in-out;

    span {
        @include mxn.apply-roboto();

        font-size: fn.px-to-rem(14px);
        line-height: fn.px-to-rem(16.41px);
        letter-spacing: 0rem;
    }
    

    input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        white-space: nowrap;
    }

    &:has(input:checked) {
        background-color: varr.$dark-clr-5;
        color: varr.$white-clr-1;

        span {
            font-weight: 500;
        }
    }
}