// Colors
$white-clr-1: #FFFFFF;
$white-clr-2: #F8FAFB; // main background color, light button background

$dark-clr-1: #1B1E24; // Headings
$dark-clr-2: #252631; // Normal texts
$dark-clr-3: #140706; // Buttons

$dark-clr-4: #1E1E1E; // Lead texts, light buttons texts;
$dark-clr-5: #262626; // Radio Buttons

$gray-clr-1: #98A9BC; // input placeholders, sub texts
$gray-clr-2: #B5B5BE; // check input,
$gray-clr-3: #E8ECEF; // progress bar background,


$green-clr:#52965E; // Buttons

$red-clr-1: #FEF2F2; // red background,
$red-clr-2: #D71E0E; // texts emphasis, progress bar indicator
$red-clr-3: #EF4444; // red borders, text-empahasis for inputs,


// Layout
$logo-height: 5rem;